<app-header />

  <main>
    <ul id="users">
      <li>
        <app-user/>
      </li>
      <p>New users work!</p>
      <li>
        <app-users-new [avatar]="usersNew[0].avatar" [name]="usersNew[0].name" />
      </li>
      <li>
        <app-users-new [avatar]="usersNew[1].avatar" [name]="usersNew[1].name" />
      </li>
      <li>
        <app-users-new [avatar]="usersNew[2].avatar "[name]="usersNew[2].name" />
      </li>
      <li>
        <app-users-new [avatar]="usersNew[3].avatar" [name]="usersNew[3].name" />
      </li>
    </ul>
  </main>

<!-- <app-user></app-user> -->

<router-outlet />
